@model FinalProject_MVC.Models.Contracts

@{
    ViewBag.Title = "Details";
}

<div class="login_card sign_up">
    <h4>Details about this contract</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Initial Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InitialDate)
        </dd>

        <dt>
            Final Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinalDate)
        </dd>

        <dt>
            Apartment Address
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apartment.ApartmentNumber) - @Html.DisplayFor(model => model.Apartment.Property.CivicNumber)
            @Html.DisplayFor(model => model.Apartment.Property.Address), @Html.DisplayFor(model => model.Apartment.Property.Zip),
            @Html.DisplayFor(model => model.Apartment.Property.City), @Html.DisplayFor(model => model.Apartment.Property.Province)
        </dd>

        <dt>
            Apartment Value
        </dt>

        <dd>
            $@Html.DisplayFor(model => model.Apartment.ApartmentValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Payday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Payday)
        </dd>

    </dl>
    <hr />
    <p>
        @if ((int)@Session["CurrentCategoryId"] != 6 && (int)@Session["CurrentCategoryId"] != 7)
        {
            <p class="button-access-profile" style="margin: 10px;">@Html.ActionLink("Edit", "Edit", new { id = Model.ContractId })</p>
        }
        <p class="button-access-profile" style="margin: 10px;">@Html.ActionLink("Back to List", "Index")</p>
    </p>
</div>

