@model IEnumerable<FinalProject_MVC.Models.Messages>

@{
    ViewBag.Title = "Index";
}

<div class="login_card sign_up card_index">

    <div class="header_text">
        <h5>Your messages</h5>

        @if ((int)@Session["CurrentCategoryId"] == 6)
        {
            <p class="button-access-profile">
                @Html.ActionLink("Create New", "Create", new { id = -1 })
            </p>
        }
    </div>

    <div class="cards_container_text">
        @foreach (var item in Model)
        {
            <div class="card_text_sender_div">
                <p>
                    Sender:
                    <span>@Html.DisplayFor(modelItem => item.Sender.FirstName)  @Html.DisplayFor(modelItem => item.Sender.LastName)</span>
                </p>
                <p>
                    Receiver:
                    <span>@Html.DisplayFor(modelItem => item.Receiver.FirstName) @Html.DisplayFor(modelItem => item.Receiver.LastName)</span>
                </p>
                <hr />
                <p>
                    Full address:
                    <span>
                        @Html.DisplayFor(modelItem => item.Apartment.ApartmentNumber) -
                        @Html.DisplayFor(modelItem => item.Apartment.Property.CivicNumber)
                        @Html.DisplayFor(modelItem => item.Apartment.Property.Address),
                        @Html.DisplayFor(modelItem => item.Apartment.Property.Zip),
                        @Html.DisplayFor(modelItem => item.Apartment.Property.City),
                        @Html.DisplayFor(modelItem => item.Apartment.Property.Province)
                    </span>
                </p>
                <hr />
                <p>
                    Your message:
                    <span>@Html.DisplayFor(modelItem => item.Description)</span>
                </p>
                <hr />

                <div class="buttons_div_text">
                    @if ((int)@Session["CurrentUserId"] == item.SenderId)
                    {
                        <p class="button-access-profile">@Html.ActionLink("Edit", "Edit", new { id = item.MessageId })</p>
                        <p class="button-access-profile">
                            @Html.ActionLink("Delete", "Delete", new { id = item.MessageId })</p>
                        }
                        @if ((int)@Session["CurrentUserId"] != item.SenderId)
                        {
                            if ((int)@Session["CurrentCategoryId"] == 7)
                            {
                            <p class="button-access-profile">
                                @Html.ActionLink("Answer", "Create", new { id = item.MessageId })</p>
                            }
                            }
                        <p class="button-access-profile">@Html.ActionLink("Details", "Details", new { id = item.MessageId })</p>
                    </div>
            </div>
        }
    </div>


</div>

