@model IEnumerable<FinalProject_MVC.Models.Messages>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h5>Your messages</h5>
<h5>ID number: @Session["CurrentUserId"]</h5>

@if ((int)@Session["CurrentCategoryId"] == 6)
{
    <p>
        @Html.ActionLink("Create New", "Create", new { id = -1 })
    </p>
}

<table class="table">
    <tr>
        <th>
            Message ID
        </th>
        <th>
            Sender
        </th>
        <th>
            Property Address
        </th>
        <th>
            Apartment Number
        </th>
        <th>
            Receiver
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MessageId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sender.FirstName)  @Html.DisplayFor(modelItem => item.Sender.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apartment.Property.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apartment.ApartmentNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Receiver.FirstName) @Html.DisplayFor(modelItem => item.Receiver.LastName)
            </td>
            <td>
                @if ((int)@Session["CurrentUserId"] == item.SenderId)
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.MessageId })  <span>|</span>
                    @Html.ActionLink("Delete", "Delete", new { id = item.MessageId })  <span>|</span>
                }
                @if ((int)@Session["CurrentUserId"] != item.SenderId)
                {
                    if ((int)@Session["CurrentCategoryId"] == 7)
                    {
                        @Html.ActionLink("Answer", "Create", new { id = item.MessageId })  <span>|</span>
                    }
                }
                @Html.ActionLink("Details", "Details", new { id = item.MessageId })
            </td>
        </tr>
        <tr>
            <td style="border-bottom:2px solid black;" colspan="6"><h5>Message: </h5>@Html.DisplayFor(modelItem => item.Description)</td>
        </tr>
    }

</table>
