@model FinalProject_MVC.Models.Users

@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="index-section" aria-labelledby="aspnetTitle" style="width: 90%;">
        <div class="header-index-section" style="display:flex; align-items: center; justify-content: left; width: 90%;">
            <div>
                @if (Model.Image != null && Model.Image.Length > 0)
                {
                    string base64Image = Convert.ToBase64String(Model.Image);
                    string imgSrc = $"data:image/jpeg;base64,{base64Image}";
                    <img style="width: 70%" class="img-index" src="@imgSrc" alt="User Picture" />
                }
                else
                {
                    <img style="width: 70%" class="img-index" class="img-index" src="~/Pictures/placeholder.jpg" alt="User Picture" />
                }
            </div>
            <div class="header-name-email">
                <h1>Welcome, @Model.FirstName @Model.LastName!</h1>
                <h5>@Model.Email</h5>
                <p>
                    @if (@Model.CategoryId == 4)
                    {
                        <text>Administrator</text>
                    }
                    else if (@Model.CategoryId == 5)
                    {
                        <text>Owner</text>
                    }
                    else if (@Model.CategoryId == 6)
                    {
                        <text>Tenant</text>
                    }
                    else if (@Model.CategoryId == 7)
                    {
                        <text>Manager</text>
                    }
                </p>
                <h5 class="button-access-profile">@Html.ActionLink("Access you profile", "Edit", "Users", new { id = Model.UserId }, null)</h5>
            </div>
        </div>
        <hr />

        @if ((int)@Session["CurrentCategoryId"] == 6)
        {       
                if (ViewBag.AvailableApartments != null)
                {
                    <h3>Please check out our available properties!</h3>
                }

                <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                    @foreach (var property in ViewBag.availableApartments)
                    {
                        <div style="display:flex; 
                                flex-direction: row; 
                                align-items: center; 
                                justify-content: space-evenly; 
                                margin: 0 auto; 
                                width: 90%;
                                border: 2px solid black;
                                margin: 10px 0;
                                border-radius: 10px;
                                padding: 10px 0;
                                background-color: #F0F0F0;">
                            <div>
                                @if (property.Image != null && property.Image.Length > 0)
                                {
                                    string base64Image = Convert.ToBase64String(property.Image);
                                    string imgSrc = $"data:image/jpeg;base64,{base64Image}";
                                    <img class="apartment_picture" src="@imgSrc" alt="User Picture" />
                                }
                                else
                                {
                                    <img class="apartment_picture" src="~/Pictures/placeholder.jpg" alt="User Picture" />
                                }
                            </div>
                            <div style="display:flex; flex-direction: row; flex-wrap:wrap; align-items: center; justify-content: center;">@property.ApartmentNumber - @property.Property.CivicNumber @property.Property.Address @property.Property.Zip @property.Property.City</div> 
                            <div style="display:flex; flex-direction: column; flex-wrap:wrap; align-items: center; justify-content: center;">
                                <p class="button-access-profile">@Html.ActionLink("Schedule Appointment", "Create", "Appointments", new { propertyId = property.PropertyId }, null)</p>
                            <p class="button-access-profile">@Html.ActionLink("Send Message", "Create", "Messages", new { propertyId = property.PropertyId }, null)</p>
                            <p class="button-access-profile">@Html.ActionLink("See Apartment", "Details", "Properties", new { id = property.ApartmentId }, null)</p>
                            </div>
                        </div>
                    }
                </div>
        }

        @{
            bool messageExists = ViewBag.MessageExists != null && ((List<FinalProject_MVC.Models.Messages>)ViewBag.MessageExists).Count > 0;
            bool appointmentExists = ViewBag.AppointmentExists != null && ((List<FinalProject_MVC.Models.Appointments>)ViewBag.AppointmentExists).Count > 0;
        }

        @if ((int)@Session["CurrentCategoryId"] == 7)
        {

            if (messageExists)
            {
                <h3>You have new messages</h3>
                <p class="button-access-profile">@Html.ActionLink("Go to Messages", "Index", "Messages")</p>
            }
            if (appointmentExists)
            {
                <h3>You have new Appointments</h3>
                <p class="button-access-profile">@Html.ActionLink("Go to Appointments", "Index", "Appointments")</p>
                if (!appointmentExists && !messageExists)
                {
                <h3>You don't have new Messages or Appointments</h3>
                }
            }
        }

    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="librariesTitle">
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
        </section>
    </div>
</main>
