@model FinalProject_MVC.Models.Appointments

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="login_card sign_up">
    <h4>Schedule Your Appointment</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.AppointmentId)

    <div class="form-group">
        @Html.LabelFor(model => model.DateTime, "Choose the Date and Time", htmlAttributes: new { @class = "custom_label" })
        <div class="col-md-10">
            <input type="datetime-local" id="DateTime" name="DateTime" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ApartmentId, "Select Property", htmlAttributes: new { @class = "custom_label" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.ApartmentId, (IEnumerable<SelectListItem>)ViewBag.Apartments, "Select Property", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ApartmentId, "", new { @class = "text-danger" })
        </div>
    </div>

    @if ((int)@Session["CurrentCategoryId"] == 7)
    {
        <div class="form-group">
            @Html.LabelFor(model => model.User.UserId, "Select Tenant", htmlAttributes: new { @class = "custom_label" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.User.UserId, (IEnumerable<SelectListItem>)ViewBag.Tenants, "Select Tenant", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.User.UserId, "", new { @class = "text-danger" })
            </div>
        </div>
    }
    else
    {
        @Html.HiddenFor(model => model.User.UserId, new { Value = (int)Session["CurrentUserId"] })
    }

    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger" style="margin-top: 10px;">@ViewBag.Error</div>
    }

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>

    <div>
        <p class="button-access-profile">@Html.ActionLink("Back to List", "Index")</p>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
