@model IEnumerable<FinalProject_MVC.Models.Events>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @if ((int)@Session["CurrentCategoryId"] == 7)
    {
        @Html.ActionLink("Create New", "Create")
    }

</p>
<table class="table">
    <tr>
        <th>
            Event Id
        </th>
        <th>
            Manager
        </th>
        <th>
            Owner
        </th>
        <th>
            Apartment Address
        </th>
        <th>
            Apartment Number
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EventId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apartment.Manager.FirstName) @Html.DisplayFor(modelItem => item.Apartment.Manager.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apartment.Owner.FirstName) @Html.DisplayFor(modelItem => item.Apartment.Owner.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apartment.Property.CivicNumber) @Html.DisplayFor(modelItem => item.Apartment.Property.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apartment.ApartmentNumber)
        </td>
        <td>
            @if ((int)@Session["CurrentCategoryId"] == 7)
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.EventId }) <span>|</span>
                @Html.ActionLink("Delete", "Delete", new { id = item.EventId }) <span>|</span>
            }
            @Html.ActionLink("Details", "Details", new { id = item.EventId })

        </td>
    </tr>
    <tr>
        <td style="border-bottom:2px solid black;" colspan="6"><h5>Message: </h5>@Html.DisplayFor(modelItem => item.Description)</td>
    </tr>
}

</table>
