@model IEnumerable<FinalProject_MVC.Models.Events>

@{
    ViewBag.Title = "Index";
}
<div class="login_card sign_up card_index">
    <div class="header_text">
        <div class="cards_container_text">
            <h5>Informed Events</h5>
            @if ((int)@Session["CurrentCategoryId"] == 7)
            {
                <p class="button-access-profile">@Html.ActionLink("Inform New Event", "Create")</p>
            }
        </div>

        @foreach (var item in Model)
        {
            <div class="card_text_sender_div">
                <p>
                    Manager:
                    <span>@Html.DisplayFor(modelItem => item.Apartment.Manager.FirstName)  @Html.DisplayFor(modelItem => item.Apartment.Manager.LastName)</span>
                </p>
                <p>
                    Owner:
                    <span>@Html.DisplayFor(modelItem => item.Apartment.Owner.FirstName) @Html.DisplayFor(modelItem => item.Apartment.Owner.LastName)</span>
                </p>
                <hr />
                <p>
                    Full address:
                    <span>
                        @Html.DisplayFor(modelItem => item.Apartment.ApartmentNumber) -
                        @Html.DisplayFor(modelItem => item.Apartment.Property.CivicNumber)
                        @Html.DisplayFor(modelItem => item.Apartment.Property.Address),
                        @Html.DisplayFor(modelItem => item.Apartment.Property.Zip),
                        @Html.DisplayFor(modelItem => item.Apartment.Property.City),
                        @Html.DisplayFor(modelItem => item.Apartment.Property.Province)
                    </span>
                </p>
                <hr />
                <p>
                    Event Description:
                    <span>@Html.DisplayFor(modelItem => item.Description)</span>
                </p>
                <hr />

                <div class="buttons_div_text">
                    @if ((int)@Session["CurrentCategoryId"] == 7)
                    {
                        <p class="button-access-profile">@Html.ActionLink("Edit", "Edit", new { id = item.EventId })</p>
                        <p class="button-access-profile">@Html.ActionLink("Delete", "Delete", new { id = item.EventId })</p>
                    }
                    <p class="button-access-profile">@Html.ActionLink("Details", "Details", new { id = item.EventId })</p>
                </div>
            </div>
        }
    </div>

</div>

