@model FinalProject_MVC.Models.Users

@{
    ViewBag.Title = "Delete";
}

<div class="login_card sign_up">
    <h4>Delete User</h4>
    <hr />

    @if (Model.Image != null && Model.Image.Length > 0)
    {
        string base64Image = Convert.ToBase64String(Model.Image);
        string imgSrc = $"data:image/jpeg;base64,{base64Image}";
        <img class="img-index" src="@imgSrc" alt="User Picture" />
    }
    else
    {
        <img class="img-index" src="~/Pictures/placeholder.jpg" alt="User Picture" />
    }

    <dl class="dl-horizontal">
        <dt>
            First Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            Last Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
            <p class="button-access-profile">@Html.ActionLink("Back to List", "Index")</p>
        </div>
    }
</div>
