@model FinalProject_MVC.Models.Apartments

@{
    ViewBag.Title = "Delete";
}

<div class="login_card sign_up">
    <h4>Are you sure you want to delete this apartment?</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Civic Number
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Property.CivicNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Property.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Property.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Property.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Property.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Property.Zip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Property.Zip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Property.Province)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Property.Province)
        </dd>
    </dl>

    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
            <p class="button-access-profile">@Html.ActionLink("Back to List", "Index")</p>
        </div>
    }

</div>
