@model FinalProject_MVC.Models.Apartments

@{
    ViewBag.Title = "Details";
}

<div class="login_card sign_up">
    <h4>Details about this property</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayFor(model => model.ApartmentTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status.StatusDescription)
        </dd>
        <div style="display: flex; align-items: center; justify-content: center; width: 100%;">
            @if (Model.Image != null && Model.Image.Length > 0)
            {
                string base64Image = Convert.ToBase64String(Model.Image);
                string imgSrc = $"data:image/jpeg;base64,{base64Image}";
                <img class="apartment_picture" src="@imgSrc" alt="User Picture" />
            }
            else
            {
                <img class="apartment_picture" src="~/Pictures/placeholder.jpg" alt="User Picture" />
            }
        </div>
        <dt>
            Apartment Full Address
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApartmentNumber) - @Html.DisplayFor(model => model.Property.CivicNumber) @Html.DisplayFor(model => model.Property.Address),
            @Html.DisplayFor(model => model.Property.Zip), @Html.DisplayFor(model => model.Property.City), @Html.DisplayFor(model => model.Property.Province)
        </dd>

        <dt>
            Property Owner
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner.FirstName) @Html.DisplayFor(model => model.Owner.LastName)
        </dd>

        <dt>
            Property Manager
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manager.FirstName) @Html.DisplayFor(model => model.Manager.LastName)
        </dd>

    </dl>
    <hr />
    @if ((int)@Session["CurrentCategoryId"] == 5 || (int)@Session["CurrentCategoryId"] == 6)
    {
        <p class="button-access-profile">@Html.ActionLink("Edit", "Edit", new { id = Model.PropertyId })</p>
    }

    @if ((int)@Session["CurrentCategoryId"] == 6)
    {
        <p class="button-access-profile">@Html.ActionLink("Home", "Index","Home")</p>
    }
    @if ((int)@Session["CurrentCategoryId"] != 6)
    {
        <p class="button-access-profile">@Html.ActionLink("Back to List", "Index", new { id = Model.PropertyId })</p>
    }
</div>
